= simple_form_for(Provider.new) do |f|
  .row
    .col-md-6
      = f.input :kind, collection: %w[Doctor Counsellor Organization Surgeon], include_blank: false
  .row
    .col-md-6
      = f.input :first_name
      = f.input :last_name
      = f.input :organization_name
      = f.input :address_line1
      = f.input :address_line2
    .col-md-6
      = f.input :postal_code
      = f.input :city
      = f.input :province
      = f.input :phone
      = f.input :waiting_period
  .row
    = f.submit "Save"