.provider-info
  / = image_tag @provider.image_url(:avatar)
  .provider-details
    %p.provider-detail-name
      = @provider.first_name
      = @provider.last_name
    %p.provider-detail
      Address: #{@provider.full_address}
    %p.provider-detail
      Kind: #{@provider.kind}
    %p.provider-detail
      Phone Number: #{@provider.phone}
    %p.provider-detail
      Average Waiting Period: #{@provider.waiting_period} Months

  .rating-info
    .overall-rating
      Overall Rating
      - if @provider.ratings.present?
        = @provider.overall_rating
      - else
      No Ratings Avaliable - Be the first to leave a rating!

    .rating-by-user
      Your Rating
      - if present_or_rated?(@provider) 
        = @provider.ratings_by_user(current_user)
        = link_to "Edit Rating", edit_provider_rating_path(@provider, @rating)
      - else
        = link_to "Add a Rating", new_provider_rating_path(@provider)
   