- if review.id.present?
  .review
    .comment
      = review.comment
    .poster
      - if review.user != nil
        %em
          Posted by: #{review.user.user_name} 
        %p
        Added on: #{review.created_at}
      - else
        %em
          Posted by: #{review.name} Added on: #{review.created_at}
    %br
