- if review.id.present?
  .review
    #comment
      %p= review.comment
    .poster
      - if review.user != nil
        %em
          Posted by #{review.user.user_name} Added on: #{review.created_at}
  
      - else
        %em
          Posted by #{review.name} Added on: #{review.created_at}
    %br